// Cores

$bg-color: rgb(15 23 42);
$img-border: #5d409f;
$default-text-color: #f9f9f9;
$bg-links: transparent;
$bg-links-hover: rgba(21, 53, 69, 0.2);
$paragraph-color: rgb(143, 142, 142);
$texts-color: #8f9ba8;
$border-color: #8f9ba8;
